* {
  margin: 0;
  padding: 0;
}

.image-main {
  height: 45vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.border-background {
  border: 8px solid transparent;
  border-radius: 0px;
  background-image: radial-gradient(circle at top center, white, lightyellow),
    /* inner background */ linear-gradient(150deg, brown, lightyellow); /* border gradient */
  background-origin: border-box;
  background-clip: padding-box, border-box;
}

.container-scenetext {
  position: relative;
  opacity: 0.9;
  border-radius: 10px;
  height: fit-content;
  width: 100vw;
  max-width: 600px;
  margin-bottom: 1rem;
  margin-top: 1.5rem;
  border: 2px solid transparent;
  border-radius: 0px;
  background-image: radial-gradient(circle at top center, white, lightyellow),
    /* inner background */ linear-gradient(150deg, brown, lightyellow); /* border gradient */
  background-origin: border-box;
  background-clip: padding-box, border-box;
  box-shadow: 0px 5px 10px grey;
}

.text:hover {
  font-weight: bold;
  font-palette: dark;
  font-size: large;
}

.text-color {
  color: lightgrey;
}

.inventoryJournalEntry {
  background-image: radial-gradient(circle at top, white, lightyellow),
    /* inner background */ linear-gradient(150deg, brown, lightyellow); /* border gradient */
  background-origin: border-box;
  background-clip: padding-box, border-box;
  padding: 1rem;
  border-left: 4px solid brown;
}

.background-location {
  background-image: radial-gradient(circle at center, white, lightyellow),
    /* inner background */ linear-gradient(150deg, brown, lightyellow); /* border gradient */
  background-origin: border-box;
  background-clip: padding-box, border-box;
  border: 2px solid transparent;
}

.cursorPointer:hover {
  cursor: pointer;
}

.button-option {
  border-left: 5px solid brown;
  border-radius: 50px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-image: radial-gradient(circle at center, white, lightyellow),
    /* inner background */ linear-gradient(150deg, brown, lightyellow); /* border gradient */
  background-origin: border-box;
  background-clip: padding-box, border-box;
  padding: 15px;
  width: 80%;
  max-width: 600px;
  margin: 10px auto;
  cursor: pointer;
  opacity: 0.9;
  animation: fadeIn 1s ease;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.button-landingPage {
  border: 2px solid transparent;
  border-radius: 0px;
  background-image: radial-gradient(circle at top center, white, lightyellow),
    /* inner background */ linear-gradient(150deg, brown, lightyellow); /* border gradient */
  background-origin: border-box;
  background-clip: padding-box, border-box;
  padding: 15px;
  font-weight: bold;
  width: 150px;
  margin: 10px;
  cursor: pointer;
  color: brown;
  box-shadow: 0px 0px 5px 2px lightgrey;

  animation: fadeIn 0.7s ease;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.button-landingPage:hover {
  box-shadow: 0px 0px 0px 6px brown;
}
